<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>网站列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="__PUBLIC__/css/common.css" rel="stylesheet">
    <link href="__PUBLIC__/css/page.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery.2.1.4.js"></script>
    <script src="__PUBLIC__/js/base.js"></script>
</head>
<body>
    <div id="append_parent"></div>
    <div class="container" id="cpcontainer">
        <div id="contentHeader">
            <h3>网站列表</h3>
            <div class="searchArea">
                <ul class="action left">
                    <li><a href="{:U('add')}" class="actionBtn"><span>录入</span></a></li>
                </ul>
                <div class="search right">
                    <form name="xform" class="right " id="searchForm" action="{:U('index')}" method="get">
                        <div style="display:none">
                            <input value="admini/post/index" name="r" type="hidden">
                        </div>
                        <select name="catalogId" id="catalogId">
                            <option value=""> ===全部网站=== </option>
                             <foreach name="tree" item="v">
                                <option value="{$v.id}">{$v.preHtml}{$v.cate_name}</option>
                            </foreach>
                        </select>
                        名称
                        <input id="title" name="title" value="" class="txt" size="15" type="text"> 别名
                        <input name="searchsubmit" value="查询" class="button " type="submit">
                    </form>
                </div>
            </div>
        </div>
        <form name="cpform" action="{:U('batch');}" method="post"></form>
        <table cellspacing="0" cellpadding="0" border="0" class="content_list">
            <thead>
                <tr class="tb_header">
                    <th width="10%">ID</th>
                    <th>标题</th>
                    <th width="16%">分类</th>
                    <th width="9%">浏览</th>
                    <th width="9%">状态</th>
                    <th width="15%">录入时间</th>
                    <th width="8%">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="data" item="v">
                <tr class="tb_list">
                    <td>
                        <input type="checkbox" value="{$v.post_id}" name="post_id[]"> {$v.post_id}
                    </td>
                    <td><a style="" target="_blank" href="{:U('show', ['id'=>$v['post_id']])}"> {$v.title}</a>
                        <br>
                        <span class="alias"></span></td>
                    <td>{$cateData[$v['cate_id']]}</td>
                    <td><span>{$v.view_count}</span></td>
                    <td>
                        <if condition="$v['status_is'] eq 'Y'">
                            <img src="__PUBLIC__/images/icon_right.gif" alt="显示"  align="absmiddle" />
                            <else />
                            <img src="__PUBLIC__/images/icon_error.gif" alt="隐藏"  align="absmiddle" />
                        </if>
                    </td>
                    <td>{$v.create_time|date="Y-m-d H:i:s",###}</td>
                   <td>
                        <a href="{:U('upd', ['id'=>$v['special_id']])}"  title="修改" alt="删除" >
                            <img src="__PUBLIC__/images/update.png" align="absmiddle" />
                        </a>
                        &nbsp;&nbsp;
                        <a href="{:U('toTrash', ['id'=> $v['special_id']])}" title="删除" alt="删除"  class="confirmSubmit">
                            <img src="__PUBLIC__/images/delete.png" align="absmiddle" />
                        </a>
                    </td>
                </tr>
                </foreach>
                
                <tr class="operate">
                    <td colspan="7">
                          <div class="page"> 
                            <div class="pagination right"> 
                             <span class="current">1</span>
                             <a href="#" class="num">2</a> 
                             <a href="#" class="next">&raquo;</a>
                            </div> 
                           </div>
                        <div class="fixsel">
                            <input type="checkbox" onclick="checkAll(this.form, 'id')" id="chkall" name="chkall">
                            <label for="chkall">全选</label>
                            <select name="command">
                                <option>选择操作</option>
                                <option value="delete">删除</option>
                                <option value="verify">显示</option>
                                <option value="unVerify">隐藏</option>
                                <option value="commend">推荐</option>
                                <option value="unCommend">取消推荐</option>
                            </select>
                            <input type="submit" name="maskall" value="提交" class="button confirmSubmit" id="submit_maskall">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <script type="text/javascript">
        $(function() {
            $(".confirmSubmit").click(function() {
                var text = this.title || this.alt;
                if (this.special_id == 'submit_maskall') {
                    text = $(this).parents('tr.submit').find('select option:selected').text();
                }
                return confirm('您在进行 【' + text + '】 操作, 确定继续？');
            });

            /**
             * 全选，反选的效果
             * @returns {undefined}
             */
            function selAll() {
                $form = $('form[name=listForm]'); // 操作的表单
                selectCheck = $('.selectAll[type=checkbox]', $form);
                otherCheck = $('[type=checkbox][name=id\\[\\]]', $form);
                btnSubmit = $('#btnSubmit', $form);

                selectCheck.click(function() {
                    otherCheck.prop('checked', this.checked);

                    // 批量删除的按钮是否可以点击
                    btnSubmit.prop('disabled', otherCheck.filter(":checked").length == 0);
                });
                otherCheck.click(function() {
                    var len1 = otherCheck.length;
                    var len2 = otherCheck.filter(":checked").length;
                    selectCheck.prop('checked', len1 === len2);

                    // 批量删除的按钮是否可以点击
                    btnSubmit.prop('disabled', otherCheck.filter(":checked").length == 0);
                });
            }
        });
        </script>
    </div>
</body>
</html>
