<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>附件列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="__PUBLIC__/css/common.css" rel="stylesheet">
    <link href="__PUBLIC__/css/tppager-yii.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery.2.1.4.js"></script>
    <script src="__PUBLIC__/js/base.js"></script>
    <script type="text/javascript">
    var batchUrl  = "{:U('batch')}" ;
    $(function() {
        $("#real_name").val("{:I('get.real_name', '', 'trim')}");
        $("#save_path").val("{:I('get.save_path', '', 'trim')}");
    });
    </script>
</head>
<body>
    <div id="append_parent"></div>
    <div class="container" id="cpcontainer">
        <div id="contentHeader">
            <h3>附件管理</h3>
            <div class="searchArea">
                <ul class="action left">
                    <li><a href="{:U('add')}" class="actionBtn"><span>录入</span></a></li>
                </ul>
                <div class="search right">
                    <form name="xform" id="searchForm" action="{:U('index')}" method="get">
                          原附件名称
                          <input id="real_name" type="text" name="real_name" value="" class="txt" size="15">
                          新附件路径
                          <input id="save_path" type="text" name="save_path" value="" class="txt" size="15">
                          <input name="searchsubmit" type="submit" value="查询" class="button">
                    </form>
                    
                </div>
            </div>
        </div>
        <form name="cpform" action="" method="post">
            <table cellspacing="0" cellpadding="0" border="0" class="content_list">
                <thead>
                    <tr class="tb_header">
                        <th width="5%">ID</th>
                        <th width="20%">原附件名称</th>
                        <th width="20%">新附件路径</th>
                        <th width="8%">大小</th>
                        <th width="10%">录入时间</th>
                        <th width="8%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="data" item="v">
                    <tr class="tb_list">
                        <td>
                            <input type="checkbox" value="{$v.attach_id}" name="attach_id[]"> {$v.attach_id}
                        </td>
                        <td> 
                            <a href="{$Think.const.IMG_URL}{$v.save_path}" target="_blank">{$v.real_name}</a>
                        </td>
                        <td>
                            {$v.save_path}
                        </td>
                        <td>{$v.file_size|byteFormat}</td>
                        <td>{$v.create_time|date="Y-m-d H:i:s",###}</td>
                       <td>
                            <a href="{:U('del', ['id'=>$v['attach_id']])}"  title="删除" alt="删除" >
                                <img src="__PUBLIC__/images/delete.png" align="absmiddle" />
                            </a>
                        </td>
                    </tr>
                    </foreach>
                    <tr class="submit">
                        <td colspan="10">
                            <div class="cuspages right">
                                {$page}
                            </div>
                            <div class="fixsel">
                                <input type="checkbox" name="chkall" id="chkall" onclick="checkAll(this, 'attach_id[]')" />
                                <label for="chkall">全选</label>
                                <select name="command">
                                    <option value="">选择操作</option>
                                    <option value="del">删除</option>
                                </select>
                                <input id="submit_maskall" onclick="return batchAction(this, 'attach_id[]');"  class="button confirmSubmit" type="submit" value="提交" name="maskall" />
                                <input type="hidden" name="batchfield" value="attach_id" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>
