<foreach name="gallary" item="v">
<li id="image_{$v.attach_id}">
    <a target="_blank" href="{$Think.const.IMG_URL}{$v.img_original}">
        <img width="40" align="absmiddle" height="40" src="{$Think.const.IMG_URL}{$v.img_original}" />
    </a>&nbsp; <br>
    <a href="javascript:uploadifyRemove('{$v.attach_id}', 'image_', {$v.gallary_id})">删除</a>
    <input type="hidden" value="{$v.attach_id}" name="imageList[fileId][]">
    <input type="hidden" value="{$v.img_original}" name="imageList[file][]">
</li>
</foreach>
