<!DOCTYPE HTML>
<html>
    <head>
        <title>后台管理系统</title>
        <link type="image/x-icon" href="__PUBLIC__/favicon.ico" rel="shortcut icon">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="__PUBLIC__/css/dpl-min.css"  rel="stylesheet"  type="text/css" /> 
        <link href="__PUBLIC__/css/bui-min.css"  rel="stylesheet"  type="text/css" />
        <link href="__PUBLIC__/css/main-min.css" rel="stylesheet"  type="text/css" />
        <script src="__PUBLIC__/js/jquery-1.8.1.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/js/bui-min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/js/common/main-min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/js/config-min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/Plugins/ligerUI/js/core/base.js" type="text/javascript"></script>
        <script src="__PUBLIC__/Plugins/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
        <link href="__PUBLIC__/Plugins/ligerUI/skins/Aqua/css/ligerui-dialog.css" rel="stylesheet" type="text/css" />
        <script src="__PUBLIC__/js/jquery.cookie.js" type="text/javascript"></script>
        <script>
            $(function () {
                //ajaxPull();
                // 弹窗
                var last_ip = $.cookie('login_ip');
                var last_time = $.cookie('login_time');
                if (last_ip && last_time) {
                    setTimeout(function () {
                        $.ligerDialog.success('上一次登录IP: ' + last_ip + '，上一次登录时间: ' + last_time);
                        $('.l-dialog').fadeOut(3000);
                        $.removeCookie('login_ip', {path: '/'}); // 删除 cookie
                        $.removeCookie('login_time', {path: '/'}); // 删除 cookie
                    }, 500);
                    setTimeout(function () {
                        $('.l-dialog-btn-inner').click();
                    }, 3000);
                }

                //轮询，实时更新消息数,10秒更新一次
                function ajaxPull() {
                    updateMsg();
                    setInterval(updateMsg, 10000);
                }
                //每个轮询操作
                function updateMsg() {
                    var msgnum = parseInt($("#msgnum").text());
                    //异步操作，发送请求，对比消息数变更
                    var url = 'index.php/index/pull';
                    $.post("{:U('pull')}", function (data) {
                        if (data.status == 1) {
                            //更新消息提示
                            $("#msgnum").text(data.msgnum);
                        }
                    }, 'json');

                }
            })
        </script>
    </head>
    <body>
        <div class="header">
            <div class="dl-title">
                <!--<img src="/chinapost/Public/assets/img/top.png">-->
            </div>
            <div class="dl-log">欢迎您，<span class="dl-log-user" id="{:session('uid')}">
                    {:session('nickname')} ({:session('uname')}) </span>   
                <span class="glyphicon glyphicon-envelope"></span>  
                <span class="badge" id="msgnum"><if condition="session('?msg')">{:session('msg')}<else/>0</if></span>
                <a  onclick="return confirm('确定要退出?');" href="{:U('logout')}" title="退出系统" class="dl-log-quit">[退出]</a>
                <a href="__APP__"  class="dl-log-quit" target="_blank"> 前台首页 </a>
            </div>
        </div>
        <div class="content">
            <div class="dl-main-nav">
                <div class="dl-inform">
                    <div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div>
                </div>
                <ul id="J_Nav"  class="nav-list ks-clear">
                    <!--
                    <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">系统管理</div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-distribution">每日一练</div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-goods">专题模块</div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-marketing">用户管理</div></li>
                    -->
                    <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">系统管理</div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-distribution">内容管理</div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-goods">我的导航</div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-marketing">桌面应用</div></li>

                    <!--
                    <li class="nav-item"><div class="nav-item-inner nav-home"> 首页 </div><div class="nav-item-mask"></div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-order"> 表单页 </div><div class="nav-item-mask"></div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-inventory"> 搜索页 </div><div class="nav-item-mask"></div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-supplier"> 详情页 </div><div class="nav-item-mask"></div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-marketing"> 图表 </div><div class="nav-item-mask"></div></li>
                    -->
                </ul>
            </div>
            <ul id="J_NavContent" class="dl-tab-conten"></ul>
        </div>
        <script>
            var users = "{:U('index/users')}";
            var thumb = "{:U('index/thumb')}";
            var sendmsg = "{:U('index/sendmsg')}";
            var msg = "{:U('index/myReceive')}";
            var mysend = "{:U('index/mysend')}";
            var user_list = "{:U('admin/index')}";
            var user_add = "{:U('Admin/add')}";
            
            var index = "{:U('Index/home')}" ;  // 系统首页
            var cate_index = "{:U('Cate/index')}" ;  // 栏目管理
            var cate_add = "{:U('Cate/add')}" ;  // 添加栏目
            //
            // BUI.use('common/main', function () {
            var config = [
                {id: '1', menu: [
                        {text: '渠道管理', items: [
                                {id: '11', text: '银行列表', href: "{:U('bank/index')}"}, 
                                {id: '12', text: '添加银行', href: "{:U('bank/add')}"},
                            {id: '13', text: '支付平台列表', href: "{:U('PayType/index')}"}, 
                            {id: '14', text: '添加支付平台', href: "{:U('PayType/add')}"}]
                        },
                        {text: '消息管理', items: [
                                {id: '21', text: '我的消息', href: '{:U("index/myReceive")}'},
                                {id: '22', text: '我发送的', href: '{:U("index/mySend")}'},
                                {id: '23', text: '发送信息', href: '{:U("index/sendMsg")}'}
                            ]
                        },
                        {text: '用户管理', items: [{id: '31', text: '用户列表', href: "{:U('admin/index')}"}, {id: '32', text: '添加用户', href: "{:U('admin/add')}"}]},
                    ]},
                {id: '4', homePage: '41', menu: [
                    {text: '业务系统', items: [{id: '41', text: '系统首页', href: index},
                            {id: '42', text: '栏目管理', href: cate_index},
                            {id: '43', text: '添加栏目', href: cate_add},
                            {id: '44', text: '专题管理', href: "{:U('Special/index')}"},
                            {id: '45', text: '内容管理', href: "{:U('Post/index')}"},
                            {id: '46', text: '评论管理', href:  "{:U('Comment/index')}"},
                            {id: '47', text: '附件管理', href:  "{:U('Attach/index')}"},
                        ]}
                ]},
                {id: '5', homePage: '51', menu: [
                    {text: '导航信息网', 
                        items: [
                            {id: '51', text: '导航信息网首页', href: "{:U('Nav/index')}"},
                            {id: '52', text: '全部导航', href: "{:U('Nav/list')}"},
                            {id: '53', text: '添加导航', href: "{:U('Nav/add')}"}
                    ]}
                ]},
                {id: '6', homePage: '61', menu: [
                    {text: '桌面应用', 
                        items: [
                            {id: '61', text: '桌面应用', href: "{:U('Desktop/index')}"},
                            {id: '62', text: '添加应用', href: "{:U('Desktop/add')}"},
                    ]}
                ]}
            ];

            new PageUtil.MainPage({
                modulesConfig: config
            });
            //});
        </script>
    </body>
</html>