<!----- 日志归档 ----->
<div id="panelSearch" class="panel">
    <h5>日志归档</h5>
    <div class="panel-content">
        <ul>
            <foreach name="_archive_months" item="v">
                <li>
                    <img src="__PUBLIC__/blog/images/icon_quote.gif" width="11" height="11" border="0" alt="" align="absmiddle" />
                    <a href="{:U('Post/archive', ['year'=>$v['year'], 'month'=>$v['month']])}">{$v.timestamp|date="Y年m月",###}</a>
                </li>
            </foreach>
        </ul>
    </div>
</div>