<div id="panelStats" class="panel">
    <h5 style="color:red;"> 统计数据 </h5>
    <div class="panel-content">
        创建日期：<span style="color:#CC9933">{$_statistics_data.begin_time|date="Y-m-d",###}</span>
        <br /> 日志总数：
        <span style="color:#CC9933">{$_statistics_data.post_count}</span>
        <br /> 阅读总数：
        <span style="color:#6699FF">{$_statistics_data.view_count}</span>
        <br /> 评论总数：
        <span style="color:#FF9900">{$_statistics_data.reply_count}</span>
        <br />
    </div>
</div>