<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <form id="xform" name="xform" enctype="multipart/form-data" action="{:U('Uploadify/basicExecute')}" method="post" style="">
            <input type="file" name="imgFile" id="img_original">
            <input class="button" type="submit" name="editsubmit" value="提交" tabindex="3" />
        </form>
    </body>
</html>
